---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/HomeHero.astro';
import HomePaket from '../components/HomePaket.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div id="container">
		<main>
			<HomeHero/>

			<div class="bg-linear-to-r from-cyan-500 to-teal-500 text-white py-10 px-6 text-center">
				<div class="mx-auto max-w-3xl xl:max-w-5xl">					
					<h2 class="text-white font-bold text-xl md:text-3xl xl:text-4xl">
						Ada 5.000 Website aktif yang kami buat, dan 16.000 Website yang telah dibuat sejak 2009 
					</h2>
				</div>
			</div>

			<HomePaket/>

		</main>
	</div>
</Layout>
